.js{
  color: hsl(53, 87%, 53%);
  background-color: hsl(0, 0%, 11%);
}

.html{
  color: hsl(12, 73%, 51%);
}

.css{
  color: hsl(227, 75%, 49%);
}

.react{
  color: hsl(190, 100%, 48%);
}

.sass{
  color: hsl(330, 47%, 58%);
}

.redux {
  color: hsl(263, 43%, 50%);
}