.Home {
  min-height: 65vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-big);
  justify-content: space-between;

  .article--primary{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);

    margin-bottom: var(--spacing);
    font-size: var(--fz-medium);
    letter-spacing: 1px;

    .article__name{
      font-size: var(--fz-big);
      font-weight: var(--weight-normal);
    }
  }
  .article--secondary{
    max-width: max-content;
    font-size: var(--fz-small);
  }
}

@media(min-width: 1100px){
  .Home{
    flex-direction: row-reverse;
  }
}