.Work{
  min-height: 65vh;
  .work__nav{
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-small);

    font-family: var(--accent-font);
    color: var(--text-lc-color);

    .nav__arrow{
      outline: 0;
      font-size: var(--fz-normal);

      transition: color 150ms linear;

      &:hover, &:focus {
        color: var(--text-main-color)
     }
    }
  }
}

@media(min-width: 1100px) {
  .Work{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;

    .work__content{
      display: flex;
      justify-content: space-between;
      margin-top: var(--spacing);
    }

    .work__nav-d{
      margin: 0 auto;
      font-size: var(--fz-normal);
      font-family: var(--accent-font);
    }

    .work-nav__links{
      margin-left: 1em;
      color: var(--text-lc-color);
    }

    .work-nav__item{
      transition: color 150ms linear;

      &:hover, &:focus{
        color: var(--text-main-color);
      }
    }
    .active{
      color: var(--text-main-color);
    }

    .Slider{
      width: 45%;
      height: max-content;
    }
    .WorkDescription{
      width: 50%;
      .work-title{
        margin-top: 0;
      }
    }
  }
}

.ERROR{
  display: grid;
  place-items: center;
  font-size: 6rem;
  min-height: 65vh;
}