@use 'utility/resets';
@use 'utility/variables';
@use 'utility/icons';
@use 'helperComponents/WorkDescription';
@use 'helperComponents/Slider';
@use 'helperComponents/Loader';
@use 'helperComponents/ContactForm';
@use 'helperComponents/SendModal';
@use 'Header';
@use 'Home';
@use 'Footer';
@use 'Work';
@use 'About';
@use 'Contact';

.App{
  min-height: 100vh;

  background-color: var(--background);
  font-family: var(--main-font);
  color: var(--text-main-color);

  transition: background-color 150ms ease;
}

.overflow-h{
  overflow: hidden;
}

.green-hi{
  color: var(--green);
}
.red-hi{
  color: var(--red)
}

.orange-hi{
  color: var(--orange);
}

.highlight{
  color: var(--highlight-clr);
}

.nadir{
  color: var(--text-lc-color);
}

.container{
  width: min(90%, 1200px);
  margin: 0 auto;
}

.button {
  position: relative;
  display: block;
  padding: .25em .5em;
  color: var(--text-lc-color);
  font-family: var(--accent-font);
  font-size: var(--fz-normal-plus);
  outline: 0;

  transition: color 150ms linear;
  &::after{
    content: '';
    position: absolute;
    top: 75%;
    left: 10%;
    right: 10%;
    height: 4px;

    background-color: var(--text-lc-color);
    transform-origin: right;
    transform: scaleX(0.08159);

    transition: transform 250ms ease;
  }

  &:hover, &:focus{
    color: var(--text-main-color);

    &::after{
      transform: scaleX(1);
    }
  }
}

@media(min-width: 1100px){
  .container{
    width: min(90%, 1400px);
  }
}