@use 'resets';
@use 'variables';
@use 'icons';
@use 'WorkDescription';
@use 'Slider';
@use 'Loader';
@use 'Header';
@use 'Home';
@use 'Footer';
@use 'Work';
@use 'About';
@use 'Contact';

.App{
  min-height: 100vh; // TODO DELETE THIS

  background-color: var(--background);
  font-family: var(--main-font);
  color: var(--text-main-color);

  transition: background-color 150ms ease;
}

.green-hi{
  color: var(--green);
}

.orange-hi{
  color: var(--orange);
}


.highlight{
  color: var(--highlight-clr);
}

.nadir{
  color: var(--text-lc-color);
}

.active{
  visibility: visible;
  transform: scaleY(1);
}

.container{
  width: min(90%, 1600px);
  margin: 0 auto;
}

.button {
  position: relative;
  display: block;
  padding: .25em .5em;
  color: var(--text-lc-color);
  font-family: var(--accent-font);
  font-size: var(--fz-normal-plus);
  outline: 0;

  transition: color 150ms linear;
  &::after{
    content: '';
    position: absolute;
    top: 75%;
    left: 10%;
    right: 10%;
    height: 4px;

    background-color: var(--text-lc-color);
    transform-origin: right;
    transform: scaleX(0.08);

    transition: transform 250ms ease;
  }

  &:hover, &:focus{
    color: var(--text-main-color);

    &::after{
      transform: scaleX(1);
    }
  }
}